/* overlay styles, all needed */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

/* just some content with arbitrary styles for explanation purposes */
.myModal {
    /*
    width: 300px;
    height: 200px;
    line-height: 200px;
    */
    width: 40%;
    height: 30%;
    position: fixed;
    top: 35%;
    left: 30%;
    /*
    margin-top: -10%;
    margin-left: -40%;
    */
    /*background-color: #f1c40f;*/
    background-color: white;
    /*border-radius: 5px;*/
    /*border: 1px solid #888;*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    /*text-align: center;*/
    z-index: 11; /* 1px higher than the overlay layer */
}

/* The Close Button */
#closeModal {
    position: fixed;
    top: 35%;
    left: 68%;
    color: #aaaaaa;
    /*float: right;*/
    font-size: 28px;
    font-weight: bold;
}

#closeModal:hover,
#closeModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.myModal-header {
    position: fixed;
    /*padding: 2px 16px;*/
    top: 35%;
    left: 30%;
    width: 40%;
    height: 6%;
    /*background-color: #5cb85c;*/
    background-color: red;
    color: white;
}

.myModal-body {
    position: fixed;
    top: 41%;
    left: 30%;
    /*padding: 2px 16px;*/
    width: 40%;
    height: 18%;
    text-align: center;
    font-family: "Georgia", Times, serif;
    font-size: 30px;
}

.myModal-footer {
    position: fixed;
    /*padding: 2px 16px;*/
    top: 59%;
    left: 30%;
    width: 40%;
    height: 6%;
    background-color: red;
    color: white;
}
