/* overlay styles, all needed */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

/* just some content with arbitrary styles for explanation purposes */
.myModal {
    width: 300px;
    height: 200px;
    line-height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    /*background-color: #f1c40f;*/
    background-color: white;
    /*border-radius: 5px;*/
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    /*text-align: center;*/
    z-index: 11; /* 1px higher than the overlay layer */
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
#closeModal {
    position: fixed;
    color: #aaaaaa;
    /*float: right;*/
    font-size: 28px;
    font-weight: bold;
}

#closeModal:hover,
#closeModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.myModal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.myModal-body {padding: 2px 16px;}

.myModal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
